<div class="container">

  <!--div class="row">
    <app-parent></app-parent>
  </div>-->
  <div class="row">
    <div class="col-md-12">
<h2> from the app component</h2>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12 myClass" appCustimizedstyle>
      <h2> learn about directives</h2>
      
          </div>  
  </div>
  <div class="row">
    <div class="col-md-12" appRendercustomizedstyle>
      <h2> learn about renderer</h2>
      
          </div>  
  </div>
  
  <div class="row">
    <div class="col-md-12 myClass" appMyevent>
      <button  appMyevent>learn about events</button>
      
          </div>  
  </div>
  
</div>